%body
  %h1 Dungeonsweepers
  %
  -# #site-wrapper
      -# %table#header-wrapper
        -# %tbody
          -# %tr
            -# %td#header-left
              -# %td#header-center
                -# #header-title dgs
              -# #header-subtitle dungeonsweepers
            -# %td#header-right
              -# #navigation-wrapper
                -# %table
                  -# %tbody
                    -# %tr
                      -# %td
                        -# = link_to 'Home', '/'
              -# %td
                -# %a #{ link_to 'Forums', 'http://xp-waste.com'}
              -# %td
                -# = link_to 'About', '/about'
              -# %td
                -# = link_to 'Guides', '/guides'
              -# %td
                -# = link_to 'Tools', '/tools'
    -# #footer-push 
      -# #footer-wrapper
        -# %table
          -# %tbody
            -# %tr
              -# %td#footer-copyright &copy; 2013 Dungeonsweepers
        -# %td#footer-html5
          %td#footer-design Design by #{ link_to 'Stev Peifer', 'http://facebook.com/stev.peifer'}



