@import 'twitter/bootstrap';
body  {
  font-family:Verdana,Geneva,sans-serif;
  font-size:12px;
  text-align:center;
}
a {
  background-image: url('public/assets/background-navigation-wrapper.jpg');
  background-position: top;
  background-repeat: repeat-x;
  color: white;
  font-size: 12px;
  font-variant: small-caps;
  height: 30px !important;
  text-transform: uppercase;
  width: 100%;
  color:#a81c0f;
}
a:hover {
  // hack around bootstrap, huehue, will change later, when I do this more preparedlike
  color:#a81b0f;
}
h1  {
  color:white;
  font-family: walkway-bold;
  line-height: 60px;
  font-size:70px;
  font-variant:small-caps;
  margin-bottom:10px;
}
h2 {
  color:#a81c0f ;
  margin-bottom:10px;
  font-family: walkway;
  font-size: 30px;
}

.container {
  background-color:#373231;
  width: 1170px;
}
